[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.5.4"
aiodns = "==2.0.0"
pytest = "==4.4.0"
pytest-asyncio = "==0.10.0"
mimesis = "==3.1.0"
asynctest = "==0.12.2"
lxml = "==4.6.2"

[dev-packages]

[requires]
python_version = "3.7"
