[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "==1.11"

[packages]
django = "==2.2.13"
psycopg2 = "==2.8.2"
pillow = "==6.0.0"
uwsgi = "==2.0.18"

[requires]
python_version = "3.7"
